<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <!-- My CSS -->
    <link rel="stylesheet" href="navbar.css" />
    <title>Acadestei | Meet</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Kanit Font-->
    <link href="https://fonts.googleapis.com/css2?family=Kanit&dislay=swap" rel="stylesheet" />

    <!-- Roboto Font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow sm">
      <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 72px; font-weight: bolder; font-family: 'Kanit'; color: #180e43">ACADE<em>STEI</em></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/" style = "font-size: 24px; font-family: 'Roboto'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/course" style = "font-size: 24px; font-family: 'Roboto'">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/meet" style = "font-size: 24px; font-family: 'Roboto'">Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" style = "font-size: 24px; font-family: 'Roboto';color: #bc5064;">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar-->

    <!-- Jumbotron -->
    <!-- Banner atas -->
    <br /><br />
    <div class="container">
      <div class="row" style="margin: 0px">
        <div class="col-6">
          <h1 class="display-4" style="font-weight: bolder; font-family: 'Kanit'; color: #180e43; font-size: 64px; margin-bottom: 0px">BELAJAR <em>BARENG</em></h1>
          <h1 class="display-4" style="font-weight: bolder; font-family: 'Kanit'; color: #180e43; font-size: 64px">KUY!</h1>
          <p class="lead" style="font-family: 'Trebuchet MS'; text-align: justify">
            Kami membantu kalian dengan menyediakan beragam fitur pembelajaran khususnya untuk TPB STEI! Kami berharap kalian bisa memanfaatkannya dengan baik agar dapat lulus TPB dengan hasil yang maksimal!
          </p>
          <button class="tombolbuat">
            Buat Ruangan
          </button>
        </div>
        <div class="col-6">
          <img src="img/cewek.jpg" alt="home" width="580px" height="550px" style="margin-left: 10px" />
        </div>
      </div>
    </div>
    <!-- Akhir Banner atar-->

    <!-- Coba wave -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#180e43"
        fill-opacity="1"
        d="M0,96L60,112C120,128,240,160,360,186.7C480,213,600,235,720,224C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      ></path>
    </svg>

    <!-- Akhir Jumbotron -->

    <!-- Meets -->

    <div style="background-color: #180e43">
      <% meets.forEach(meet => { %>
      <div class="row">
        <% meet.forEach(mt => {%>
          <div class="col" style="margin-right: auto; margin-left: auto;">
            <div class="container-meet">
              <div class="lingkaran">
                <img />
              </div>
              <div class="box">
                <div>
                  <div class="matkulmeet"><%= mt.matkul %> </div>
                  <div class="judulmeet"><%= mt.judul %> </div>
                  <div class="jammeet"><%= mt.jam %> </div>
                </div>
                <button class="button-meet" href=<%= mt.link %> >Gabung!</button>
              </div>
            </div>
          </div>
       <% }) %> 
      </div>
      <% }) %>
    </div>
  </body>
</html>

<style>
  .row {
    margin-bottom: 5vw;
    margin-left: 9vw;
  }

  .navbar-brand em {
    font-weight: bold;
    font-family: Kanit;
    font-style: normal;
    line-height: 90px;
    color: #bc5064;
  }

  .display-4 em {
    font-weight: bold;
    font-family: Kanit;
    font-style: normal;
    color: #bc5064;
  }

  .container-meet {
    width: 18vw;
    height: auto;
    padding: 10px;
    background-color:#180e43;
  }

  .button-meet {
    background-color: #bc5064;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.4vw;
    height: 3.2vw;
    width: 8vw;
    border-radius: 8vw;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    margin-top: 0.9vw;
    margin-bottom: 0.9vw;
    margin-left: auto;
    margin-right: auto;
  }

  .tombolbuat {
    background-color: #180e43;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 55px;
    width: 275px;
    font-size: 22px;
    border-radius: 12vw;
    font-family: "roboto", sans-serif;
    font-weight: bold;
  }
  body button:hover {
    transform: scale(1.08);
  }

  .judulmeet {
    text-align: center;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 1.9vw;
  }

  .matkulmeet {
    text-align: center;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 1vw;
  }
  .jammeet {
    text-align: center;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
  }
  .lingkaran {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: block;
    margin: auto;
    margin-bottom: 0.9vw;
  }

  .box {
    width: 16vw;
    height: auto;
    background-color: white;
    border-radius: 2vw;
    padding-top: 1.4vw;
    padding-bottom: 0.1vw;
    margin-left: auto;
    margin-right: auto;
    max-width:16vw;
    height: 12vw;
    max-height: 14vw;
  }


</style>
