<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div id = "content">
        <div id = "pre-event" style="margin-bottom: 100px;">
          <% matkul.subbab.forEach(sbb => { %>
            <button class="accordion"><em> <%= sbb.nama %> </em></button>
            <div class="panel">
              <ul>
                 <% sbb.materi.forEach(mtr => { %>
                  <li style=color:#191919><em>1. <a style=color:#191919 href="google.com" target="_blank"><%= mtr.nama %> </a></p>
                    <%})%>
              </ul>
            </div>
          <% }) %>
        </div>
    </div>
    
  </body>

  <script>
    var accordion = document.getElementsByClassName('accordion');
    var em;

    for (em = 0; em < accordion.length; em++) {
      accordion[em].addEventListener('click', function () {
        this.classList.toggle('active');

        var panel = this.nextElementSibling;

        if (panel.style.display === 'block') {
          panel.style.display = 'none';
        } else {
          panel.style.display = 'block';
        }

        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px';
        }
      });
    }

    function testFunc() {
      document.getElementById('menuDropdown').classList.toggle('show');
    }

    window.onclick = function (event) {
      if (!event.target.matches('.dropbutton')) {
        var dropdowns = document.getElementsByClassName('dropdown-content');
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropDown = dropdowns[i];
          if (openDropDown.classList.contains('show')) {
            openDropDown.classList.remove('show');
          }
        }
      }
    };
  </script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap');

@media screen and (max-width: 1000px){

    #hiddensprout{
        visibility: visible;
    }

    }
    header p{
        font-size: 12px !important;
    }
    
    main{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    #inline-list ul li{
        display: inline;
        margin-right: 4vh !important;
        margin-left: 4vh !important;
        font-family: "Poppins";
        font-weight: bold;
        
    }

    #inline-list{
        display: none;
    }
    

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    .typewriter h1{
        margin-top: -2vh !important;
    }

    .panel ul li{
        font-size: 14px !important;
        margin-bottom: 2vh !important;
    }

html, body{
   
    margin: 0px !important;
    margin-top: 0px !important;
    display: block;
    
}

header p{
    font-size: 20px;
    font-weight: bold;
}


main{
    text-align: justify;
    font-family: Poppins;
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}


#content{
    padding-left: 5%;
    padding-right: 5%;
    padding: 20px;
}

.accordion{
    background-color: #F9F9F9;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 18px;
    padding: 15px;
    font-family: "Poppins";
    float: center;
    border-radius: 10px;
    margin-top: 1em;
}

.active, .accordion:hover{
    background: rgb(188,80,100);
    color : #F9F9F9
}

.panel{
    padding: 0 20px;
    float: center;
    max-height: 0;
    background-color: rgb(223, 222, 222);
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius:10px;
    margin-bottom: 1em;
}

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #f9f9f9;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: white; }
  }

.fade{
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    visibility: hidden;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

#inline-list ul{
    display: table;
    margin: 0 auto;
    margin-top: 2.5vh;
}

#inline-list ul li{
    display: inline;
    margin-right: 4vh;
    margin-left: 4vh;
    font-family: "Poppins";
    font-weight: normal;
    
}

#inline-list ul li a{
    color: black;
    text-decoration: none;
}

#inline-list ul li a:hover{
    color: rgb(116, 116, 116);
    font-weight: bold;
    transition: all ease 0.3s;
}

em{
    font-weight: bold;
}
</style>

</html>
