.container {
  width: 20vw;
  height: auto;
  padding: 10px;
  background-color:  #180E43;
}

.button {
    background-color: #BC5064;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8vw;
    height: 5vw;
    width: 20vw;
    border-radius: 10vw;
    font: roboto;
    margin-top: 1vw;
  }

body button:hover {
  transform: scale(1.08);
}


.lingkaran {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
  background-color:white;
  display:inline-block;
  vertical-align:middle;
  margin: auto;
  margin-bottom: 1vw;
}
