.container {
  width: 220px;
  height: auto;
  padding: 10px;
}

.button {
    background-color: #BC5064;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 200px;
    border-radius: 32px;
    font: roboto;
    margin-left: 10px;
  }

body button:hover {
  transform: scale(1.1);
}

.lingkaran {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #180E43;
  display:inline-block;
  vertical-align:middle;
  margin: 10px;
}
